// .container {
// 			display: flex;
// 			padding: 1em;
// 			background-color: blue;
//           }
// .item {
// 		flex:1;
// 		padding: 1em;
// 		margin: .6em;
// 		background-color: black;
//       }



.rental-city{padding-top: 5px;}
.rental-room-info{padding-top: 5px;}
.rental-description{padding-top: 5px;}
.rm{padding-left: 7px;}
.subas{padding-top: 10px;}