

<section id="rentalDetail" *ngIf="rental">
	<div class="container">
		<div class="row">
		<div class="col-md-6 ">
			<!-- <img src="{{rental.image}}" alt="" class="img-responsive"> -->
			<div class="img shadow-lg rounded"><img src="{{rental.image}}" class="img-fluid" alt="Responsive image"></div>
		</div>
		<div class="col-md-6">
				<bmw-map [location]="rental.city + ', '  + rental.street"></bmw-map>
		</div>
	</div>
	</div>


<div class="details-section mt-4">
	<div class="row">
		<div class="col-md-8">
			<div class="rental">
				<h6 class="rental-type {{rental.category}} text-uppercase text-danger">{{rental.shared ? 'Shared' : 'Whole'}} {{rental.category}}</h6>
				<h1 class="rental-title">{{rental.title}}</h1>
				<h4 class="rental-city">{{rental.city}}</h4>
				<div class="rental-room-info">
					<span><i class="rm fa fa-building"> </i> {{ rental.bedrooms }} bedrooms </span>
					<span><i class="rm fa fa-user"> </i> {{ rental.bedrooms + 4 }} guests </span>
					<span><i class="rm fa fa-bed"> </i> {{ rental.bedrooms + 2 }} beds </span>
				</div>
				<p class="rental-description">{{rental.description }}</p>
				<hr>
				<div class="rental-asset">
					<h2 class="title">Assets</h2>
					<div class="row">
						<div class="col-md-6 titles">
							<span><i class="subas fa fa-asterisk"></i> Cooling</span><br>
							<span><i class="subas fa fa-thermometer"></i> Heating</span><br>
							<span><i class="subas fa fa-location-arrow"></i> Iron</span>
						</div>
						<div class="col-md-6">
							<span><i class="subas fa fa-desktop"></i> Warking Area</span><br>
							<span><i class="subas fa fa-slack"></i> Washing Machine</span><br>
							<span><i class="subas fa fa-cube"></i> Dishwasher</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 h3 text-uppercase text-center">Booking</div>
	</div>
</div>
</section>